{{!-- <h2 id="title">Welcome to Ember</h2>

{{outlet}}

  <div class="all-artists">{{link-to "All Artists" "artists"}}</div> --}}

<h2 id="title">Welcome to Ember</h2>

{{link-to "All Artists" "artists" class='all-artists'}}


{{outlet}}